<% title t('activerecord.models.book.other') %>
<table class="table table-bordered table-striped mb-none table-with-details">
  <thead>
  <tr>
    <th><%= Author.human_attribute_name(:name) %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <% @authors.each do |author| %>
      <tr class="gradeX">
        <td><%= author.name %></td>
        <td>
          <div class="center">
            <%= link_to manager_author_path(author.id), method: :delete do %>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% end %>
          </div>
        </td>
        <%= render 'shared/admin/table_details', list: author.books %>
      </tr>
    <% end %>
  </tbody>
</table>