<section class="about-sec">
  <div class="about-img">
    <figure class='about-fig'></figure>
  </div>
  <div class="about-content">
    <h2><%= I18n.t("home.about.title")%></h2>
    <p><%= I18n.t("home.about.description") %></p>
    <div class="btn-sec">
      <a href="shop.html" class="btn yellow">shop books</a>
      <a href="login.html" class="btn black">subscriptions</a>
    </div>
  </div>
</section>