<section class="recent-book-sec">
  <div class="container">
    <div class="title">
      <h2>highly recommended books</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4">
        <div class="item">
          <%= image_tag "r1.jpg", alt:"img"%>
          <h3><a href="#">Keepers of the kalachakara</a></h3>
          <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
        </div>
      </div>
    </div>
    <div class="btn-sec">
      <a href="#" class="btn gray-btn">view all books</a>
    </div>
  </div>
</section>