<div class="form">
  <h3>Quick Contact us</h3>
  <h6>We are now offering some good discount
    on selected books go and shop them</h6>
  <form>
    <div class="row">
      <div class="col-md-6">
        <input placeholder="Name" required>
      </div>
      <div class="col-md-6">
        <input type="email" placeholder="Email" required>
      </div>
      <div class="col-md-12">
        <textarea placeholder="Messege"></textarea>
      </div>
      <div class="col-md-12">
        <button class="btn black">Alright, Submit</button>
      </div>
    </div>
  </form>
</div>