<section class="static about-sec">

  <div class="container">

    <form autocomplete="off">
      <div class="autocomplete" id="search_google_book">
        <input id="search_google_book_input" type="text" name="mybook" placeholder="Book">
        <button id="search_google_book_submit" type="button">Add Book</button>
      </div>
    </form>

    <h1>New Book</h1>

    <%= render 'form', book: @book %>

    <%= link_to 'Back', books_path %>
  </div>

</section>