<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to t(:show, scope: [:default]), category %></td>
        <td><%= link_to t(:destroy, scope: [:default]), category, method: :delete,
         data: { confirm: t(:encure, scope: [:default, :messages]) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
