<table class="table table-bordered table-striped mb-none table-with-details">
  <thead>
  <tr>
    <th><%= Category.human_attribute_name(:name) %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr class="gradeX">
        <td><%= category.name %></td>
        <td>
          <div class="center">
            <%= link_to manager_category_path(category.id), method: :delete do %>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% end %>
          </div>
        </td>
        <%= render 'shared/admin/table_details', list: category.books %>
      </tr>
    <% end %>
  </tbody>
</table>