<aside id="sidebar-left" class="sidebar-left">

  <div class="sidebar-header">
    <div class="sidebar-title">
      Navigation
    </div>
    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
      <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
    </div>
  </div>

  <div class="nano">
    <div class="nano-content">
      <nav id="menu" class="nav-main" role="navigation">
        <ul class="nav nav-main">
          <li class="nav-active">
            <a href="#">
              <i class="fa fa-home" aria-hidden="true"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="pull-right label label-primary">182</span>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>Mailbox</span>
            </a>
          </li>

          <li class="nav-parent">
            <a>
              <i class="fa fa-list-alt" aria-hidden="true"></i>
              <span><%= t 'default.forms' %></span>
            </a>
            <ul class="nav nav-children">
              <li>
                <%= link_to t('book.view.new_book'), new_book_path %>
              </li>
              <li>
                <a href="forms-advanced.html">
                  Advanced
                </a>
              </li>
              <li>
                <a href="forms-validation.html">
                  Validation
                </a>
              </li>
              <li>
                <a href="forms-layouts.html">
                  Layouts
                </a>
              </li>
              <li>
                <a href="forms-wizard.html">
                  Wizard
                </a>
              </li>
              <li>
                <a href="forms-code-editor.html">
                  Code Editor
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-parent">
            <a>
              <i class="fa fa-table" aria-hidden="true"></i>
              <span>Tables</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a href="tables-basic.html">
                  Basic
                </a>
              </li>
              <li>
                <a href="tables-advanced.html">
                  Advanced
                </a>
              </li>
              <li>
                <a href="tables-responsive.html">
                  Responsive
                </a>
              </li>
              <li>
                <a href="tables-editable.html">
                  Editable
                </a>
              </li>
              <li>
                <a href="tables-ajax.html">
                  Ajax
                </a>
              </li>
              <li>
                <a href="tables-pricing.html">
                  Pricing
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </nav>
</aside>
