<div class="center">
  <%= link_to send(edit_path, item_id) do %>
    <i class="fa fa-pencil" aria-hidden="true"></i>
  <% end %>
  <%= link_to send(delete_path, item_id), method: :delete do %>
    <i class="fa fa-times" aria-hidden="true"></i>
  <% end %>
</div>
