<template id="table_hidden_data">
    <table class="table mb-none">
    <div class="row">
      <% list.each do |book| %>
          <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
              <%= image_tag book.image_link, class: "card-img-top" %>
              <div class="caption">
                <h5><%= book.title %></h5>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
  </template>